ROS_DOMAIN_ID=42
ROS_DISTRO=jazzy
RMW=cyclonedds
IMAGE_PREFIX=curtmini-piper

CURTMINI_PIPER_SOURCE=../curtmini_piper
CURT_MINI_SOURCE=../curt_mini

CAN_PORT=can0
LPMS_DEVICE=/dev/ttyLPMSCA3D00510053
JOYSTICK_DEVICE=/dev/input/js0
START_JOYSTICK=true
START_IMU=true

ARM_MOUNT_XYZ=0 0 0.18
ARM_MOUNT_RPY=0 0 0
TCP_OFFSET_XYZ=0 0 0
TCP_OFFSET_RPY=0 0 0

MOVEIT_PLAN_ONLY=true
ZENOH_ROUTER_CHECK_ATTEMPTS=30
DISPLAY=:0

OCI_SOURCE=
OCI_REVISION=unknown
